<%- include('partials/header.ejs') %>
<%- include('partials/homenavbar.ejs') %>

<body>
    <div class="container">
        <% articles.forEach(article => { %>
        <div class="card">
            
        </div>
        <% }) %>
    </div>
</body>
<%- include('partials/footer.ejs') %>
